@font-face {
    font-family: 'Austein';
    src: url("Austein/Austein.woff2") format('woff2'),
    url("Austein/Austein-Script.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}