@font-face {
    font-family: 'Austein';
    src: url('../assets/fonts/Austein/Austein.otf') format('otf'),
    url("../assets/fonts/Austein/Austein.ttf") format('ttf'),
    url("../assets/fonts/Austein/Austein.woff2") format('woff2'),
    url("../assets/fonts/Austein/Austein-Script.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../assets/fonts/Poppins/Poppins-Black.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}