@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-family: 'Austein', sans-serif;
}

h2, h3, h4, h5, h6, body {
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */
.outer-container-header {
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
}

.inner-container-header {
    border: 3px solid yellow;
}

.outer-container-main {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}

.inner-container-main {
    border: 3px solid green;
}

.outer-container-footer {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inner-container-footer {
    border: 3px solid yellow;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    gap: 10em;
    align-items: flex-start;
}

/* ------------------------------- 4. Areas Home ---------------------------------------- */
/* --------------- 4.1 Header ------------------- */
.title-and-navbar {
    padding: 25px;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #EEEEEE;
}

.ul-header {
    border: 3px solid green;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-title {
    border: 3px solid red;
    color: #283E53;
    font-weight: lighter;
}

.ul-header > li {
    padding-right: 3em;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.1mm;
}

.ul-header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #373737;
}

.hero-image-outer-container {
    border: 3px solid blue;
    background-image: url("assets/images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    flex-basis: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-image-inner-container {
    border: 3px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image-inner-container button {
    background-color: #70B6BE;
    color: #293E53;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    margin-top: 1em;
}

.line-header-one {
    font-size: xxx-large;
    font-weight: bolder;
}

.line-header-two {
    font-size: xxx-large;
    font-weight: normal;
}

.hero-image-inner-container a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #293E53;
}

/* --------------- 4.2 Carousel ------------- */
.outer-container-carousel {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

.inner-container-carousel {
    border: 3px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    height: 300px;
}

.carousel-card-one {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    margin-top: -40px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 70%, rgba(230, 230, 230, 1) 95%);
}

.carousel-card-image-one {
    height: 225px;
    width: 400px;
    border-radius: 3px 3px 0 0;
}

.recipe-title-one {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    font-weight: bold;
    color: #4E4E4E;
}

.calories-ingredients-time-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    color: #4E4E4E;
}

.carousel-card-two {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    margin-top: -60px;
    margin-bottom: -20px;
    background-color: #F7F7F7;
}

.carousel-card-image-two {
    height: 267px;
    width: 475px;
    border-radius: 3px 3px 0 0;
}

.recipe-title-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    font-weight: bold;
    color: #4E4E4E;
}

.calories-ingredients-time-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    color: #4E4E4E;
}

.carousel-card-three {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    margin-top: -40px;
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 70%, rgba(230, 230, 230, 1) 95%);
}

.carousel-card-image-three {
    height: 225px;
    width: 400px;
    border-radius: 3px 3px 0 0;
}

.recipe-title-three {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    font-weight: bold;
    color: #4E4E4E;
}

.calories-ingredients-time-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    color: #4E4E4E;
}

.time-image-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.time-image {
    margin-right: 1em;
}

.calories-ingredients-div {
    display: flex;
    flex-direction: row;
}

.calories-ingredients-div p {
    margin-right: 5px;
}

.calories-number, .ingredients-number {
    font-weight: bold;
}

/* --------------- 4.3 Search bar ------------- */
.outer-container-searchbar {
    border: 3px solid red;
    background-color: #283E53;
    padding: 50px;
}

.inner-container-searchbar {
    border: 3px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#submit-form {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-bar {
    height: 35px;
    width: 225px;
    border: none;
    border-radius: 3px 0 0 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.search-bar-input {
    text-indent: 1em;
    font-size: medium;
    letter-spacing: 0.1mm;
}

#magnifying-glass {
    background-color: white;
    height: 35px;
    width: 35px;
    margin-left: -5px;
    margin-right: 20px;
    padding-right: 40px;
    border: none;
    border-radius: 0 3px 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-icon {
    height: 20px;
    width: 20px;
}

.outer-container-searchbar select {
    height: 35px;
    width: 175px;
    margin-right: 20px;
    text-indent: 1em;
    font-size: medium;
    letter-spacing: 0.1mm;
    color: #283E53;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

#search-button {
    height: 35px;
    width: 175px;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0.1mm;
    border: none;
    background-color: #70B6BE;
    color: #283E53;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

/* --------------- 4.4 Search results ------------- */
.outer-container-search-results {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inner-container-search-results {
    border: 3px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    flex-basis: 1500px;
}

.carousel-card-result {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    background-color: #F7F7F7;
    height: 375px;
    width: 450px
}

.carousel-card-image-result {
    height: 255px;
    width: 450px;
    border-radius: 3px 3px 0 0;
}

.recipe-title-result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: -1em;
    font-weight: bold;
    color: #4E4E4E;
}

.calories-ingredients-time-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    color: #4E4E4E;
}

.time-image-div-result {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.time-image-result {
    margin-right: 1em;
}

.calories-ingredients-div-result {
    display: flex;
    flex-direction: row;
}

.calories-ingredients-div-result p {
    margin-right: 5px;
}

.calories-number-result, .ingredients-number-result {
    font-weight: bold;
}

#recipe-link {
    display: block;
    text-decoration: none;
}

/* --------------- 4.5 Footer ------------- */

.outer-container-footer {
    background-color: #283E53;
    padding-top: 50px;
    padding-bottom: 50px;
}

.column-footer {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.inner-container-footer h3 {
    color: #71B6BD;
}

.inner-container-footer p {
    color: #D1D2D6;
}

#column-footer-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
}

.social-media-circle {
    background-color: #71B6BD;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.social-media-icon {
    height: 20px;
    width: 20px;
}

/* ------------------------------- 5. Areas Recipe Page ---------------------------------------- */
/* --------------- 5.1 Main ------------------- */

.outer-container-main-recipe {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container-main-recipe {
    border: 3px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 1050px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title-and-time-image {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-bottom: 2em;
}

.time-image-div-recipe {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 110px;
}

.time-text-recipe-number {
    color: #283E55;
    font-weight: bold;
    font-size: large;
}

.time-text-recipe-minutes {
    color: #283E55;
    font-size: large;
}

.recipe-name {
    border: 3px solid blue;
    color: #283E55;
}

.recipe-text-and-image {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.recipe-instructions {
    border: 3px solid green;
    flex-basis: 500px;
    color: #283E55;
}

.recipe-picture {
    border: 3px solid red;
    height: 400px;
    width: 400px;
}

.recipe-image {
    border: 3px solid blue;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px, rgba(9, 30, 66, 0.13) 0 0 1px 1px;
}

.recipe-ingredients-and-nutrients {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin-bottom: 2em;
}

.recipe-ingredients {
    border: 3px solid green;
    flex-basis: 400px;
    color: #283E55;
}

.recipe-ingredients-title {
    font-weight: 600;
}

.ingredients-ul {
    margin-left: 2em;
}

.pietje-puk {
    color: red;
}

.ingredients-ul li {
    color: #283E55;
}

.recipe-nutrients {
    border: 3px solid red;
    flex-basis: 400px;
}

.recipe-nutrients-title {
    color: #283E55;
    font-weight: 600;
    margin-bottom: 1em;
}

.recipe-nutrients table {
    border: 3px solid blue;
    width: 400px;
}

.recipe-health-labels-div {
    border: 3px solid blue;
    color: #283E55;
    width: 500px;
}

.recipe-health-labels-title {
    font-weight: 600;
    margin-bottom: 1em;
}

.recipe-health-labels p {
    border: solid 1px #283E55;
    background-color: #70B6BE;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: small;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}

.recipe-health-labels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* ------------------------------- 6. Areas Calculator Page ---------------------------------------- */
/* --------------- 6.1 Main ------------------- */

.outer-container-main-calculator {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container-main-calculator {
    margin-top: 100px;
    margin-bottom: 50px;
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    flex-basis: 1050px;
}

.calorie-calculator-title {
    border: 3px solid blue;
    color: #283E53;
    margin-bottom: 2em;
}

.search-bar-div-calculator {
    border: 3px solid red;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#submit-form-calculator-search {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-bar-div-calculator input, button {
    padding: 10px;
    border-radius: 5px;
}

.search-bar-div-calculator button {
    border: 1px solid black;
    background-color: #70b6be;
    color: #283E53;
    height: 40px;
    font-weight: bold;
    width: 100px;
}

#search-bar-calculator {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: none;
    border-radius: 3px 0 0 3px;
    height: 40px;
    width: 160px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

#magnifying-glass-calculator {
    background-color: white;
    height: 40px;
    width: 50px;
    margin-left: -5px;
    margin-right: 20px;
    border: none;
    border-radius: 0 3px 3px 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-icon-calculator {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.calorie-calculator-product-table-div {
    border: 3px solid blue;
    margin-bottom: 3em;
}

.calorie-calculator-product-table {
    border: 3px solid green;
    width: 400px;
}

.row-one-product td {
    font-weight: bold;
}

.amount-div-calculator {
    border: 3px solid red;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#submit-form-calculator-add {
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.amount-input-calculator {
    width: 125px;
}

.amount-div-calculator input, button {
    border-radius: 5px;
}

.amount-div-calculator input {
    height: 40px;
}

.amount-input-calculator * {
    height: 40px;
}

#amount-calculator {
    margin-left: 1em;
    margin-right: 1em;
}

#add-button-calculator {
    margin-left: 1em;
    width: 100px;
    font-weight: bold;
    font-size: large;
    background-color: #70b6be;
    color: #283E53;
}

.calorie-calculator-calculation-table-div {
    border: 3px solid blue;
    margin-bottom: 3em;
}

.calorie-calculator-calculation-table {
    border-collapse: collapse;
    width: 400px;
}

.row-one-calculation td {
    font-weight: bold;
}

.total-row td {
    padding-top: 10px;
    border-top: 1px solid black;
}