@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */
h1 {
    font-family: 'Austein', sans-serif;
}

h2, h3, h4, h5, h6, body {
    font-family: 'Poppins', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */
.outer-container-header {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.inner-container-header {
    border: 1px solid yellow;
}

.outer-container-main {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.inner-container-main {
    border: 1px solid green;
}

.outer-container-footer {
    border: 1px solid blue;
    display: flex;
}

.inner-container-footer {
    border: 1px solid yellow;
}

/* ------------------------------- 4. Areas ---------------------------------------- */
/* --------------- 4.1 Header ------------------- */
.title-and-navbar {
    padding: 25px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #EEEEEE;
}

.ul-header {
    border: 1px solid green;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-title {
    border: 1px solid red;
    color: #283E53;
    font-weight: lighter;
}

.ul-header > li {
    padding-right: 3em;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.1mm;
}

.ul-header a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #373737;
}

.hero-image-outer-container {
    border: 1px solid blue;
    background-image: url("assets/images/hero-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 450px;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.hero-image-inner-container {
    border: 1px solid red;
}

.center-left h2 {
    font-size: xxx-large;
    font-weight: bold;
}

/* --------------- 4.2 Carousel ------------- */
.outer-container-carousel {
    border: 1px solid blue;
    margin: 150px;
}

.inner-container-carousel {
    border: 1px solid yellow;
}

/* --------------- 4.3 Search bar ------------- */
.outer-container-searchbar {
    border: 1px solid red;
    background-color: #283E53;
    padding: 50px;
}

.inner-container-searchbar {
    border: 1px solid green;
}

/* --------------- 4.4 Search results ------------- */
.outer-container-search-results {
    border: 1px solid blue;
    padding: 500px;
}

.inner-container-search-results {
    border: 1px solid yellow;
}

/* --------------- 4.5 Footer ------------- */

.outer-container-footer {
    background-color: #283E53;
    padding: 150px;
}